<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.dominik.library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryManagementSystem">
        <activity android:name=".draweraktivnosti.PovijestMedicineActivity"></activity>
        <activity android:name=".draweraktivnosti.SportskaMedicinaActivity" />
        <activity android:name=".draweraktivnosti.BioKemijaActivity" />
        <activity android:name=".draweraktivnosti.AnatomijaActivity" />
        <activity android:name=".draweraktivnosti.AnalitickaKemijaActivity" />
        <activity android:name=".draweraktivnosti.FizikalnaKemijaActivity" />
        <activity android:name=".draweraktivnosti.OrganskaKemijaActivity" />
        <activity android:name=".draweraktivnosti.RobotikaActivity" />
        <activity android:name=".draweraktivnosti.ElektrotehnikaActivity" />
        <activity android:name=".draweraktivnosti.EnergetikaActivity" />
        <activity android:name=".draweraktivnosti.ElektronikaActivity" />
        <activity android:name=".draweraktivnosti.OperativniSustaviActivity" />
        <activity android:name=".draweraktivnosti.MrezeIProtokoliActivity" />
        <activity android:name=".draweraktivnosti.HardverActivity" />
        <activity android:name=".draweraktivnosti.ProgramiranjeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LibraryManagementSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>