<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.dominik.library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryManagementSystem">
        <activity
            android:name=".ProgramiranjeMenuActivity.WishListActivity"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity"/>
        <activity
            android:name=".ProgramiranjeMenuActivity.PosudeneKnjigeActivity"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity"/>
        <activity
            android:name=".SearchActivity.SearchHardverActivity"
            android:parentActivityName=".draweraktivnosti.HardverActivity" />
        <activity
            android:name=".SearchActivity.SearchOperativniSustaviActivity"
            android:parentActivityName=".draweraktivnosti.OperativniSustaviActivity" />
        <activity
            android:name=".SearchActivity.SearchMrezeIProtokoliActivity"
            android:parentActivityName=".draweraktivnosti.MrezeIProtokoliActivity" />
        <activity
            android:name=".SearchActivity.SearchProgramiranjeActivity"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity" />
        <activity
            android:name=".UnesiKnjiguActivity.UnesiteKnjiguOperativniSustaviActivity"
            android:parentActivityName=".draweraktivnosti.OperativniSustaviActivity" />
        <activity
            android:name=".UnesiKnjiguActivity.UnesiteKnjiguMrezeIProtokoliActivity"
            android:parentActivityName=".draweraktivnosti.MrezeIProtokoliActivity" />
        <activity
            android:name=".UnesiKnjiguActivity.UnesiteKnjiguHardverActivity"
            android:parentActivityName=".draweraktivnosti.HardverActivity" />
        <activity
            android:name=".ModifyActivity.ModifyOperativniSustaviActivity"
            android:parentActivityName=".draweraktivnosti.OperativniSustaviActivity" />
        <activity
            android:name=".ModifyActivity.ModifyMrezeIProtokoliActivity"
            android:parentActivityName=".draweraktivnosti.MrezeIProtokoliActivity" />
        <activity
            android:name=".ModifyActivity.ModifyHardverActivity"
            android:parentActivityName=".draweraktivnosti.HardverActivity" />
        <activity
            android:name=".ItemClickActivity.ItemClickedOperativniSustaviActivity"
            android:parentActivityName=".draweraktivnosti.OperativniSustaviActivity" />
        <activity
            android:name=".ItemClickActivity.ItemClickedMrezeIProtokoliActivity"
            android:parentActivityName=".draweraktivnosti.MrezeIProtokoliActivity" />
        <activity
            android:name=".ItemClickActivity.ItemClickedHardverActivity"
            android:parentActivityName=".draweraktivnosti.HardverActivity" />
        <activity
            android:name=".draweraktivnosti.FABActivity"
            android:label="Ovdje možete napisati upit!"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".draweraktivnosti.OperativniSustaviActivity"
            android:label="Operativni Sustavi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".draweraktivnosti.MrezeIProtokoliActivity"
            android:label="Mreže i Protokoli"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".draweraktivnosti.HardverActivity"
            android:label="Hardver"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".draweraktivnosti.ProgramiranjeActivity"
            android:label="Programiranje"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ItemClickActivity.ItemClickProgramiranjeActivity"
            android:label="Programiranje"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity" />
        <activity
            android:name=".ModifyActivity.ModifyProgramiranjeActivity"
            android:label="Programiranje"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity" />
        <activity
            android:name=".UnesiKnjiguActivity.UnesiteKnjiguProgramiranjeActivity"
            android:label="Programiranje"
            android:parentActivityName=".draweraktivnosti.ProgramiranjeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LibraryManagementSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>